body {
    background: rgb(60, 150, 173);
    background: -moz-linear-gradient(left, rgba(60, 150, 173, 1) 0%, rgba(200, 96, 199, 1) 51%, rgba(170, 74, 165, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(60, 150, 173, 1) 0%, rgba(200, 96, 199, 1) 51%, rgba(170, 74, 165, 1) 100%);
    background: linear-gradient(to right, rgba(60, 150, 173, 1) 0%, rgba(200, 96, 199, 1) 51%, rgba(170, 74, 165, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c96ad', endColorstr='#aa4aa5', GradientType=1);
}

#bigCheckbox {
    transform: scale(4, 4);
}

#content {
    height: 100%;
}

#title {
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 16px;
}

#title1 {
    text-align: center;
    font-size: 6em;
    font-family: 'Open Sans', sans-serif;
}

md-checkbox {
    padding-left: 8px;
}

md-checkbox .md-container {
    margin-left: 5px;
}

md-checkbox .md-label {
    margin-left: 20px;
}

.card1 {
    margin-bottom: 30px;
    position: relative;
    top: 100px;
    height: 20em;
    width: 40em;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    opacity: 0.0;
    display: none;
}

.card {
    margin-bottom: 30px;
    position: absolute;
    height: 20em;
    width: 40em;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
